.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 0 0 5px;
}

.tabGroup {
    width: 80%;
}

.composition-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 400px;
}
